page-home {

  .header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

}

.item ion-thumbnail {

    img {
        max-width: 50px;
        min-width: 50px;
    }
}

$fab-size: 60px;	//Width and height of the FAB button
$fab-mini-size:	40px;	//Width and height of the FAB button mini
$fab-content-margin:	10px;	//Margin of the FAB Container
$fab-list-margin:	10px;	//Margin of the FAB List
$fab-list-button-background-color: #f4f4f4; //Background color of the button in a list
}
